# COMS W1002 Computing in Context: Computing in Economics  
## Project 3: Tickets  
## Due December 9th at 11:59PM

In this assignment you will analyze a large public data set in an effort to answer one of the burning questions of our time: Who is running all the red lights?  Many traffic lights in New York City are equipped with cameras that will take a picture of any car or truck that drives through the intersection when the light is red. The vehicle's license plate is then scanned and a ticket is mailed to the person whose name appears on the vehicle's registration. The work you will do in this assignment is inspired by the amazing and popular blog [*I Quant NY*](http://iquantny.tumblr.com/). You should read the original article [*here*](http://iquantny.tumblr.com/post/140432262249/parking-immunity-diplomats-owe-nyc-16-million-in). For this assignment you are going look at New York City red light camera violation data to determine which vehicles are running red lights and how much they have paid or how much they owe. The entire data set includes much more than red light camera violations and is available [*online*](https://data.cityofnewyork.us/City-Government/Open-Parking-and-Camera-Violations/nc67-uf89) but it's way too big for our purposes. I have downloaded just the red light camera violations into a file named [red_light.csv](https://www.cs.columbia.edu/~cannon/parking/). You will need to download this large file to do your assignment. It contains information on over 4 million tickets.

**Problem 1 Part 1** Use pandas to read `red_light.csv` and store the entire dataset as a DataFrame.

In [4]:
import pandas as pd

violations = pd.read_csv("/Users/aleskamedrano/Downloads/red_light.csv")
violations.head(5)

,Plate,State,License Type,Summons Number,Issue Date,Violation Time,Violation,Judgment Entry Date,Fine Amount,Penalty Amount,Interest Amount,Reduction Amount,Payment Amount,Amount Due,Precinct,County,Issuing Agency,Violation Status,Summons Image
0,BEC9138,NY,PAS,5092901482,08/07/2016,01:11P,FAILURE TO STOP AT RED LIGHT,NaN,50.0,25.0,0.00,0.00,75.00,0.0,0,BK,DEPARTMENT OF TRANSPORTATION,NaN,View Summons (http://nycserv.nyc.gov/NYCServWe...
1,EDY3698,NY,PAS,5030813615,07/31/2008,10:59P,FAILURE TO STOP AT RED LIGHT,11/21/2008,50.0,25.0,51.46,0.02,126.44,0.0,0,NaN,DEPARTMENT OF TRANSPORTATION,NaN,View Summons (http://nycserv.nyc.gov/NYCServWe...
2,GYV4311,NY,PAS,5092903570,08/07/2016,02:44P,FAILURE TO STOP AT RED LIGHT,NaN,50.0,25.0,0.00,0.00,75.00,0.0,0,BK,DEPARTMENT OF TRANSPORTATION,NaN,View Summons (http://nycserv.nyc.gov/NYCServWe...
3,HDK4023,NY,PAS,5092909432,08/07/2016,07:15P,FAILURE TO STOP AT RED LIGHT,NaN,50.0,25.0,0.00,0.00,75.00,0.0,0,BK,DEPARTMENT OF TRANSPORTATION,NaN,View Summons (http://nycserv.nyc.gov/NYCServWe...
4,T510765C,NY,OMT,5092910598,08/07/2016,09:08P,FAILURE TO STOP AT RED LIGHT,NaN,50.0,25.0,0.00,0.00,75.00,0.0,0,BK,DEPARTMENT OF TRANSPORTATION,NaN,View Summons (http://nycserv.nyc.gov/NYCServWe...

**Problem 1 Part 2** Use pandas to manipulate the DataFrame you just made so that it only contains the following columns: `['Plate', 'State', 'Issue Date','Violation Time','Payment Amount', 'Amount Due']`. You may find it helpful to rename these columns to shorter versions without spaces.

In [5]:
import pandas as pd

violations = pd.read_csv("/Users/aleskamedrano/Downloads/red_light.csv")
violations_filtered = violations[["Plate", "State", "Issue Date", "Violation Time", "Payment Amount", "Amount Due"]]
violations_filtered.columns = ["plate", "state", "issue_date", "violation_time", "payment_amount", "amount_due"]
violations_filtered.head(5)

      plate state  issue_date violation_time  payment_amount  amount_due
0   BEC9138    NY  08/07/2016         01:11P           75.00         0.0
1   EDY3698    NY  07/31/2008         10:59P          126.44         0.0
2   GYV4311    NY  08/07/2016         02:44P           75.00         0.0
3   HDK4023    NY  08/07/2016         07:15P           75.00         0.0
4  T510765C    NY  08/07/2016         09:08P           75.00         0.0

**Problem 2** 
Write a Python function that takes two parameters: a DataFrame like the one you just made above containing ticket information and  a license plate string. Your function should return a tuple containing the following information: *(number of open violations for the plate, the sum of the amounts due for all of the open violations associated with that plate)*.

In [6]:
import pandas as pd

def amount_owed(tickets, plate):
    """
    Returns the number of open violations and the total amount due for a specific license plate.
    
    Parameters:
    tickets (pd.DataFrame): DataFrame containing ticket information with columns 'plate', 'amount_due', etc.
    plate (str): License plate string to filter the tickets.
    
    Returns:
    tuple: (number of open violations, total amount due for open violations)
    """
    # Filter the DataFrame for rows matching the given plate and where amount_due > 0
    open_tickets_for_given_plate = tickets[tickets['plate'] == plate]
    print(open_tickets_for_given_plate)
    
    # Count the number of open violations
    open_violations = open_tickets_for_given_plate['amount_due'].size
    
    # Sum the total amount due
    total_amount_due = open_tickets_for_given_plate['amount_due'].sum()
    
    return print (f'open_tickets: {open_violations}', f'amount_due: {total_amount_due}')

In [7]:
tickets = violations_filtered
plate = "EDY3698"
#debugging purposes
#print(tickets['plate'].unique())
#print("Rows matching the plate:\n", tickets[tickets['plate'] == plate])
#print("Rows with amount_due > 0:\n", tickets[tickets['amount_due'] > 0])


amount_owed(tickets, plate)

           plate state  issue_date violation_time  payment_amount  amount_due
1        EDY3698    NY  07/31/2008         10:59P          126.44         0.0
1588170  EDY3698    NY  12/15/2008         07:44A          123.72         0.0
open_tickets: 2 amount_due: 0.0

**Problem 3 Part 1** Write a Python function to determine which vehicle owes the most money. Your function should take a DataFrame containing the parking ticket information as input and should return the plate number and the total amount owed. You can do this by returning a tuple as you did in Problem 2 or you can return a small DataFrame containing a single row with the desired information. (*Hint: Using groupby will make this much more efficient*)

In [8]:
def most_owed(tickets):
    # Set the index to 'plate'
    tickets = tickets.set_index("plate")
    
    # Group by 'plate' and sum the 'Amount Due'
    grouped_tickets = tickets.groupby('plate')['amount_due'].sum()
    
    # Find the maximum amount owed
    max_amount = grouped_tickets.max()
    
    # Find the plate number corresponding to the maximum amount
    max_plate = grouped_tickets.idxmax()
    
    # Return both values
    return print(f"Plate with the most owed: {max_plate}, Amount Owed: {max_amount}")

In [9]:
tickets = violations_filtered

most_owed(tickets)

Plate with the most owed: KEV5560, Amount Owed: 3710.46

**Problem 3 Part 2** Repeat Part 1 but this time write a Python function to determine which vehicle has paid the most money.

In [10]:
def most_paid(tickets):
    tickets.set_index("plate")
    grouped_tickets = tickets.groupby("plate")['payment_amount'].sum()
    max_paid_plate = grouped_tickets.idxmax()
    max_paid = grouped_tickets.max()

    return print(f'the max amount is: {max_paid}, and the plate is: {max_paid_plate}')

In [11]:
tickets = violations_filtered

most_paid(tickets)

the max amount is: 4875.05, and the plate is: T675377C

**Problem 4** Using Python and showing your work below, determine at which hour of the day the most red light camera violations occur. So your answer should be something like 1PM or 2PM or 3AM . . .

In [18]:
import pandas as pd

def max_hour(tickets):
    # Convert 'violation_time' to datetime and extract the hour
    tickets['hour'] = pd.to_datetime(tickets['violation_time']).dt.hour

    # Group by the 'hour' column and count the occurrences
    tickets_by_hour = tickets.groupby('hour')['violation_time'].count()

    # Find the hour with the maximum count
    max_hour = tickets_by_hour.idxmax()  # The hour with the max count
    max_count = tickets_by_hour.max()   # The maximum count
    max_hour_converted = max_hour%12 #put if to see if it is am or pm
    if max_hour >= 12:
        return print(f'{max_hour_converted} PM, with a max value of {max_count}')
    else:
        return print(f'{max_hour_converted} AM, with a max value of {max_count}')

In [19]:
tickets = violations_filtered

max_hour(tickets)

/var/folders/ws/jw7vmdhx3yq2zps6fh4r4wmc0000gn/T/ipykernel_4886/335047839.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  tickets['hour'] = pd.to_datetime(tickets['violation_time']).dt.hour

3 PM, with a max value of 365659

/var/folders/ws/jw7vmdhx3yq2zps6fh4r4wmc0000gn/T/ipykernel_4886/335047839.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tickets['hour'] = pd.to_datetime(tickets['violation_time']).dt.hour

Write the answer (the hour of day) to problem 4 here:

3 PM